@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
}

input:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

select {
  background-color: transparent;
  border: none;
}

select:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: transparent; /* Sesuaikan warna teks */
  -webkit-box-shadow: none; /* Sesuaikan kode hex dengan warna background inputmu */
  /* transition: background-color 5000s ease-in-out 0s; */
}
